<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QFDatePickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB3951471E288B8E000EBDD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB3951601E288B8F000EBDD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB39516B1E288B8F000EBDD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
